
body {
  margin: 0;
}

.accounts-nav {
  display: flex;
}

.accounts-nav> div {
  padding: 10px;
}

.accounts-nav > :first-child {
  margin-left: auto;
}


.main-dashboard > div {
  padding: 10px 20px;
}

.main-dashboard {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
}

.sale-detail_wrapper {
  background: #f2f0f8;
  display: flex;
}

.sale-detail {
  padding: 20px;
  font-size: 20px;
}

.total-billing {
  margin-left: auto;
  width: 33%;
  text-align: center;
}

.SaleProductsWrapper{
  padding: 5px;
}

.addproduct{
  display: flex;
  float: right;
  margin: 10px;
}


.MuiAppBar-colorPrimary-113 {
  color: black !important;
  background-color: #f2f0f8 !important;
}