
body {
  margin: 0;
}

.accounts-nav {
  display: flex;
}

.accounts-nav> div {
  padding: 10px;
}

.accounts-nav > :first-child {
  margin-left: auto;
}


.main-dashboard > div {
  padding: 10px 20px;
}

.main-dashboard {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
}

.sale-detail_wrapper {
  background: #f2f0f8;
  display: flex;
}

.sale-detail {
  padding: 20px;
  font-size: 20px;
}

.total-billing {
  margin-left: auto;
  width: 33%;
  text-align: center;
}

.SaleProductsWrapper{
  padding: 5px;
}

.addproduct{
  display: flex;
  /* float: right; */
  justify-content: space-between;
  margin: 10px;
}


.MuiAppBar-colorPrimary-113 {
  color: black !important;
  background-color: #f2f0f8 !important;
}

.search-product{
  display: flex;
  justify-content: space-around;
}

.login-main{
  display: flex;
  flex-direction: row;
  margin-top: 15%;
}

.login-left{
  width: 30%;
}

.login-right{
  width: 30%;
}
.login-center{
  width: 40%;
}

.register-left{
  width: 30%;
}

.register-center{
  width: 40%;
}

.register-right{
  width: 30%;
}

.register-main{
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}